{% extends 'index.html' %}

{% load static %}
{% block content %}

<div class="container about-container mt-5 border rounded text-bg-light">
    <div class="about-content ">
        <div class="m-4">
            <h1>About</h1>
            <p class="mt-5 fs-4 text">The author of the application: <span class="fw-bold">Piotr Pyskło</span></p>
            <p class="fs-6 text">The application was developed as part of a student internship at the company "LeoNet" in collaboration with <span class="fw-bold">Mr. Dariusz Leonarski</span>.</p>
        </div>
    </div>
</div>


{% endblock content %}